

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/login.css">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tienda virtual nodejs</a>
      
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../pages/index>Inicio</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Clientes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="" href="../pages/productos/insertarProductos">Productos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Ventas</a>
          </li>

          


        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">&nbsp;&nbsp;&nbsp;
          <button class="btn btn-outline-success" type="submit">Buscar</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../pages/usuarios/loginprueba">Login</a>
          </li>

        </form>
      </div>
    </div>
  </nav>