<%- include('../partials/header') %>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<div class="container">
  <form action="/action_page.php">
    
    <div class="form-group">
      <label for="txt">Nombre del vendedor</label>
      <input type="text" class="form-control" name="Nombre" placeholder="Nombre del vendedor" id="Nombre">
    </div>
    
    <div class="form-group">
      <label for="txt">Documento</label>
      <input type="Number" class="form-control" name="Cedula" placeholder="Cedula" id="Cedula">
    </div>

    <!--<div class="form-group">
        <label for="txt">Ventas Despachadas</label>
        <input type="text" class="form-control"  name="VentasDespachadas" placeholder="VentasDespachadas" id="VentasDespachadas">
      </div> -->


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>